.app {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.toolbar {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
}

.toolbar__tools {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.75rem;
}

.toolbar__background {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.75rem;

	input {
		padding: 0.5rem 1rem;
		cursor: pointer;
		outline: 0;
		border: 1px solid var(--border);
		border-radius: 0.5rem;
		font-size: 1rem;
	}

	input:hover {
		box-shadow: var(--shadow);
		cursor: pointer;
	}
}

.toolbar_btn {
	padding: 0.5rem 1rem;
	cursor: pointer;
	outline: 0;
	border: 1px solid var(--border);
	border-radius: 0.5rem;
	font-size: 1rem;
}

.toolbar_btn:hover {
	box-shadow: var(--shadow);
}

.desctructive {
	background-color: var(--accent-bg);
	color: var(--accent);
}

canvas {
	border: 2px solid var(--border);
	border-radius: 0.5rem;
}

.erase_cursor {
	cursor:
		url("./assets/eraser.png") 8 8,
		auto;
}

.brush_cursor {
	cursor:
		url("./assets/paint-brush.png") 8 8,
		auto;
}
